# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
deepvenv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Editors
.vscode/
.idea/

# Data, models, logs
data/**
!data/.gitkeep
models/**
logs/**


# OS files
.DS_Store
Thumbs.db

